<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monitorar Namespaces</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='monitorar.css') }}">
  <script defer src="{{ url_for('static', filename='js/monitorar.js') }}"></script>
</head>
<body>
  <div class="container">
    <h2>Monitorar Namespaces</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Cores</th>
          <th>Memória (MB)</th>
          <th>Io</th>
          <th>Script</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for ns in namespaces %}
        <tr>
        <td>{{ ns.id }}</td>
        <td>{{ ns.namespace_name }}</td>
        <td>{{ ns.namespace_cpu }}</td>
        <td>{{ ns.namespace_mem }}</td>
        <td>{{ ns.namespace_io }}</td>
        <td>{{ ns.script }}</td>
        
        <td>
          <form action="{{ url_for('ver_status', ns_id=ns.id) }}" method="GET" style="display:inline;">
            <button type="submit" class="status-btn">{{ ns.status|capitalize }}</button>
          </form>
        </td>

          <td>
            <form action="{{ url_for('ver_log', nome=ns.namespace_name) }}" method="GET" style="display:inline;">
              <button type="submit" class="ver-log">Ver Log</button>
            </form>
            <form action="{{ url_for('encerrar_namespace', ns_id=ns.id) }}" method="POST" style="display:inline;">
              <button type="submit" class="encerrar">Encerrar</button>
            </form>
            <form action="{{ url_for('remover_namespace', ns_id=ns.id) }}" method="POST" style="display:inline;">
              <button type="submit" class="remover">Remover</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{{ url_for('index') }}" method="GET">
      <button type="submit" class="voltar">Voltar</button>
    </form>  

  </div>
</body>
</html>
